/* CONTENT */

.content {
    display: grid;
    grid-template-columns: 75% 25%;
}

/* LEFT CONTENT */

.left-content {
    display: grid;
    grid-template-rows: 50% 50%;
    background: #f6f7fb;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
}

/* ACTIVITIES */

.activities h1 {
    margin: 0 0 20px;
    font-size: 1.4rem;
    font-weight: 700;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 150px);
    column-gap: 10px;
}

.img-one {
    grid-area: 1 / 1 / 2 / 2;
}

.img-two {
    grid-area: 2 / 1 / 3 / 2;
}

.img-three {
    display: block;
    grid-area: 1 / 2 / 3 / 4;
}

.img-four {
    grid-area: 1 / 4 / 2 / 5;
}

.img-five {
    grid-area: 1 / 5 / 2 / 6;
}

.img-six {
    display: block;
    grid-area: 2 / 4 / 3 / 6;
}

.image-container {
    position: relative;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            transparent,
            transparent,
            rgba(3, 3, 185, 0.5));
    border-radius: 10px;
    transition: all 0.6s linear;
}

.image-container:hover .overlay {
    opacity: 0;
}

.overlay h3 {
    margin-bottom: 8px;
    margin-right: 10px;
    color: #fff;
}

/* LEFT BOTTOM */

.player .left-bottom {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 40px;
}

/* WEEKLY SCHEDULE */

.player .weekly-schedule {
    display: flex;
    flex-direction: column;
}

.weekly-schedule h1 {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.player .calendar {
    margin-top: 10px;
}

.player .day-and-activity {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    align-items: center;
    border-radius: 14px;
    margin-bottom: 5px;
    color: #484d53;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.activity-one {
    background-color: rgb(124, 136, 224, 0.5);
    background-image: linear-gradient(240deg,
            rgb(124, 136, 224) 0%,
            #c3f4fc 100%);
}

.activity-two {
    background-color: #aee2a4a1;
    background-image: linear-gradient(240deg, #e5a243ab 0%, #f7f7aa 90%);
}

.activity-three {
    background-color: #ecfcc376;
    background-image: linear-gradient(240deg, #97e7d1 0%, #ecfcc3 100%);
}

.activity-four {
    background-color: #e6a7c3b5;
    background-image: linear-gradient(240deg, #fc8ebe 0%, #fce5c3 100%);
}

.player .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-10px);
}


.player .day h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.player .day p {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    transform: translateY(-3px);
}

.player .activity {
    border-left: 3px solid #484d53;
}

.player .participants {
    display: flex;
    margin-left: 20px;
}

.player .participants img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.player .activity h2 {
    margin-left: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
}

.btn {
    display: block;
    padding: 8px 24px;
    margin: 10px auto;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    color: #484b57;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

/* PERSONAL BESTS */

.personal-bests {
    display: block;
}

.personal-bests h1 {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.personal-bests-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    margin-top: 10px;
}

.best-item {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.box-one {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 3;
    background-color: rgba(185, 159, 237, 0.6);
    padding: 15px;
    font-size: 1rem;
    font-weight: 700;
}

.box-one img {
    max-width: 100px;
    aspect-ratio: 4/3;
}

.box-two {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px;
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgba(238, 184, 114, 0.6);
}

.box-two img {
    max-width: 90px;
    aspect-ratio: 3/2;
    align-self: flex-end;
}

.box-three {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px;
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgba(184, 224, 192, 0.6);
}

.box-three img {
    max-width: 70px;
    aspect-ratio: 1/1;
    align-self: flex-end;
}

/* RIGHT CONTENT */

.right-content {
    display: grid;
    grid-template-rows: 5% 20% 75%;
    background: #f6f7fb;
    margin: 15px 15px 15px 0;
    padding: 10px 0;
    border-radius: 15px;
}

/* USER INFO */

.user-info {
    display: grid;
    grid-template-columns: 30% 55% 15%;
    align-items: center;
    padding: 0 10px;
}

.icon-container {
    display: flex;
    gap: 15px;
}

.user-info h4 {
    margin-left: 40px;
}

.user-info img {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* ACTIVE CALORIES  */

.active-calories {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(214, 227, 248);
    padding: 0 10px;
    margin: 15px 10px 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.active-calories h1 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.active-calories-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.calories-content p {
    font-size: 1rem;
}

.calories-content p span {
    font-weight: 700;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px 0;
    /* width: 200px; */
}

.box h2 {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    color: rgb(91, 95, 111);
    font-weight: 600;
}

.box h2 small {
    font-size: 0.8rem;
    font-weight: 600;
}

.circle {
    position: relative;
    width: 80px;
    aspect-ratio: 1/1;
    background: conic-gradient(from 0deg,
            #590b94 0%,
            #590b94 0% var(--i),
            #b3b2b2 var(--i),
            #b3b2b2 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle::before {
    content: "";
    position: absolute;
    inset: 10px;
    background-color: rgb(214, 227, 248);
    border-radius: 50%;
}

/* MOBILE PERSONAL BESTS  */


/* FRIEND ACTIVITIES  */

.friends-activity {
    display: flex;
    flex-direction: column;
}

.friends-activity h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 15px 0 10px 15px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    background-color: #fff;
    margin: 0 10px;
    padding: 5px 7px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.card-two {
    display: block;
}

.card-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

.card-user-info img {
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.card-user-info h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 5px;
}

.card-img {
    display: block;
    width: 100%;
    aspect-ratio: 7/4;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
    object-position: 50% 30%;
}

.card p {
    font-size: 0.9rem;
    padding: 0 5px 5px;
}


.mobile-personal-bests-res {
    font-size: 2.5rem;
}

.mobile-personal-bests-res .box-one {
    height: 5rem;
}

.mobile-personal-bests-res .two {
    margin-top: 6em;
    background: hsl(163, 63%, 75%);
}

.card-container {
    padding: 1rem;
}

.card-container .mobile-personal-bests-res .box-one {
    background: #fc8ebe;
}

.card-container .mobile-personal-bests-res .two {
    background: wheat;
}

footer {
    z-index: 100;
    bottom: 1rem;
    left: 50%;
    color: white;
    font-size: 1rem;
}

footer span {
    font-size: 1.8rem;
}

.logo {
    display: block;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-left: 3rem;
}

.container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-heart {
    color: rgb(235, 26, 26);
}

.cj {
    font-size: 1.2rem;
}


.circles {
    z-index: 100;
}

main {
    z-index: 1000;
}


.left-bottom-container {
    width: 40vw;
    display: flex;
}